
    <div class="container" ng-controller = 'signinController'>
        <div class="navbar-container" id="navbar-container">
            <!--div class="  navbar-container navbar-inverse navbar-fixed-top" role="navigation" -->

            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
                <span class="sr-only">Toggle sidebar</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>
            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <li class="green">
                        <a  href="#">
                            <i class="fa fa-child fa-2x  "></i>
							<span class="user-info">
								<big>Infants and Babies </big>
								<small> 0 ~ 36 months</small>
							</span>
                        </a>
                    </li>

                    <li class="blue">
                        <a href="#">
                            <i class="fa fa-male fa-2x  "></i>
							<span class="user-info">
								<big>Children  and Teens  </big>
								<small> 2 ~ 20 years</small>
							</span>
                        </a>
                    </li>

                    <li class="purple">
                        <a href="#">
                            <i class="ace-icon fa fa-envelope"></i>
                            <big> Contact  </big>
                        </a>

                    </li>

                    <li class="light-blue" id="toin">
                        <a href="#">
                            <i class="ace-icon fa fa-user"></i>
                            <strong> Sign In </strong>
                        </a>

                        <form method = 'post' action = 'login'>
                        <div id="sign" layout = 'column' layout-align="space-around center"
                                >

                            <div flex-item>
                                <lx-text-field label="Email">
                                    <input type="text" ng-model="person.email" name = "username">
                                </lx-text-field>
                            </div>
                            <div flex-item>
                                <lx-text-field label="Password">
                                    <input type="password" ng-model="person.password" name = "password">
                                </lx-text-field>
                            </div>
                            <div layout = 'row'>
                                <div flex>
                                    <button class="btn btn--m btn--blue btn--raised" lx-ripple>
                                        Signin</button>
                                </div>
                                <div flex>
                                    <button class="btn btn--m btn--red btn--raised" lx-ripple ng-click="authenticate('google')">
                                        <i class="fa fa-google-plus" ></i>Google+</button>
                                </div>


                            </div>


                            <div layout = 'row' style = "margin-top:10px;">
                                <div flex>
                                    <button class="btn btn--m btn--blue btn--raised" lx-ripple  ng-click="authenticate('facebook')">
                                        <i class="fa fa-facebook"></i>Facebook</button>
                                </div>
                                <div flex>
                                    <button class="btn btn--m btn--grey btn--raised" lx-ripple  ng-click="authenticate('github')">
                                        <i class="fa fa-github"></i>Github</button>
                                </div>
                            </div>



                        </div>

                        </form>



                    <li class="light-blue" id="profile">
                    <span class="fs-title display-block">welcome {{name}}</span>

                    </li>
                    <li class="red"  >
                        <a id="disconnect" href="/logout" >
                            <i class="ace-icon fa fa-lock"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div><!-- /.navbar-container -->
    </div>