<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Online Growth Charts</title>

    <!-- Bootstrap core CSS -->
    <link href="./lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="./css/styles.css" rel="stylesheet">
    <link href="./css/ace.css" rel="stylesheet" >
    <link href="./css/carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="./lib/lumx/dist/lumx.css">
    <link rel="stylesheet" href="./lib/angular-material/angular-material.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">

</head>


<!-- NAVBAR
================================================== -->
<body>

<div class="navbar-wrapper" ng-include="'./signin/signin.client.view.html'">
</div>

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->

    <ol class="carousel-indicators" style="padding: 0px 20px 0px 20px;">
        <li data-target="#myCarousel" data-slide-to="0" class="active pull-left"></li>
        <li data-target="#myCarousel" data-slide-to="1" class="pull-left"></li>
        <li data-target="#myCarousel" data-slide-to="2" class="pull-left"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <img src="images/091_500.JPG" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Share Charts with Family!  </h1>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="images/124_500.JPG" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <h1> Maintain Your Children's Growth Charts Online </h1>

                </div>
            </div>
        </div>
        <div class="item">
            <img src="images/216_500.JPG" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <h1> Never Lose Your Records</h1>
                    <p>Save the record to cloud
                    </p>

                </div>
            </div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>
<!-- /.carousel -->




<!-- list  -->
<div class="container ">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">

                                <i class="fa fa-child"></i> Infant Products</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="#"> Baby & Toddler Toys </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"> Bathing & Skin Care </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"> Car Seats & Accessories </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"> Diapering </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"> Feeding </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"> Gear </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"> Gifts  </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"> Health & Baby Care </a>
                                        <span class="badge">42</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a   href="services.php"> <i class="fa fa-certificate"></i>  Services & Supplies </a>
                        </h4>
                    </div>
                </div>

                <div class="panel panel-default" ng-controller = "hstyController">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a   href="#" ng-click = "goHistory()"><i class="fa fa-book"></i> View History </a>
                        </h4>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a   href="purchase.php"><i class="fa fa-credit-card"></i> Purchase and Pay </a>
                        </h4>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a   href="business.php"><i class="fa fa-globe"></i>  Business </a>
                        </h4>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a   href="account.php"><i class="fa fa-user"></i> My Account </a>
                        </h4>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a   href="contact.php"><i class="fa fa-phone"></i>  Contact </a>
                        </h4>
                    </div>
                </div>

            </div>
        </div>
        <div ui-view></div>

        <div id = "replaced">
        </div>
    </div>
</div>

<hr class="featurette-divider">



<div class="container light-black">
    <div class="row">
        <div class="col-lg-8">


            <p>
                Copyright  &copy; 2014 OnlineGrowthCharts.com. All rights reserved.
                DISCLAIMER: All calculations must be confirmed before use. The authors make no
                claims of the accuracy of the information contained herein; and these suggested doses
                are not a substitute for clinical judgement. Neither OnlineGrowthCharts.com
                nor any other party involved in the preparation or publication of this site
                shall be liable for any special, consequential, or exemplary damages resulting
                in whole or part from any user's use of or reliance upon this material.
            </p>
            <p>
                Our Growth Percentile Calculator is a general educational tool only;
                it is not the last word on how your child is growing. This calculator is not a
                substitute for having a physician monitor your child's growth during regularly
                scheduled examinations. If you have any questions about your child's growth patterns,
                please ask your child's doctor.
            </p>
            <p>

                These percentiles were compiled using the latest growth chart data from the National
                Center for Health Statistics, U.S. Public Health Service (released in November 2000).
                The numbers are based on five health surveys done in the United States between 1963
                and 1994. The data takes into account the combined growth patterns of babies from all
                races and ethnicities and those who have been breast- and formula-fed.
            </p>

        </div>
        <div class="col-lg-4 text-right">

        </div>
    </div>
</div>
<!--<script src="js/aouth.js"></script>-->
<script src="./lib/jquery/dist/jquery.min.js"></script>
<script src="./lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./lib/highcharts-release/highcharts.js"></script>
<script src="./lib/highcharts-release/modules/exporting.js"></script>
<script src="./lib/angular/angular.min.js"></script>
<script src="./lib/angular-animate/angular-animate.min.js"></script>
<script src="./lib/angular-aria/angular-aria.min.js"></script>
<script src="./lib/angular-material/angular-material.min.js"></script>
<script src="./lib/angular-ui-router/release/angular-ui-router.js"></script>
<script src = "./lib/angular-resource/angular-resource.min.js"></script>
<script src = "./lib/angular-cookies/angular-cookies.min.js"></script>
<script src="./lib/satellizer/satellizer.js"></script>
<script src="./lib/velocity/velocity.js"></script>
<script src="./lib/moment/min/moment-with-locales.js"></script>
<script src="./lib/lumx/dist/lumx.js"></script>
<script src="./application.js"></script>

<script src="./dialog/dialog.client.module.js"></script>
<script src="./dialog/dialog.client.controller.js"></script>
<script src="./form/form.client.module.js"></script>
<script src="./form/form.client.route.js"></script>
<script src="./form/form.client.controller.js"></script>
<script src="./charts/charts.client.module.js"></script>
<script src="./charts/charts.client.controller.js"></script>
<script src="./signin/signin.client.module.js"></script>
<script src="./signin/signin.client.config.js"></script>
<script src="./signin/signin.client.controller.js"></script>
<script src="./api/chartAPI.client.module.js"></script>
<script src="./api/chartAPI.client.service.js"></script>
<script src="./api/chartAPI.client.api.js"></script>
<script src="./hsty/hsty.client.module.js"></script>
<script src="./hsty/hsty.client.route.js"></script>
<script src="./hsty/hsty.client.controller.js"></script>


</body>
</html>
